<div class="container">
  <form [formGroup]="formLogin" (ngSubmit)="login()" class="login-form">
    <div class="mb-3">
      <input
        [ngClass]="{'is-invalid': hasError('username','required') || hasError('username','email')}"
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        placeholder="Nom d'usuari"
        autocomplete="username"
      />
      <div class="text-danger" *ngIf="hasError('username','required')">
        Nom d'usuari obligatori.
      </div>
    </div>
    <div class="mb-3">
      <input
        [ngClass]="{'is-invalid': hasError('password','required') || hasError('password','minlength')}"
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Contrasenya"
        autocomplete="current-password"
      />
      <div class="text-danger" *ngIf="hasError('password','required')">
        Contrasenya obligatòria.
      </div>
      <div class="text-danger" *ngIf="hasError('password','minlength')">
        Contrasenya invàlida (mínim 8 caràcters).
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar sessió</button>
  </form>
</div>