<div class="container">
  <form [formGroup]="formRegister" (ngSubmit)="register()" class="register-form">
    <div class="mb-3">
      <input
        [ngClass]="{'is-invalid': hasError('email','required') || hasError('email','email')}"
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Correu electrònic"
        autocomplete="email"
      />
      <div class="text-danger" *ngIf="hasError('email','required')">Correu electrònic obligatori.</div>
      <div class="text-danger" *ngIf="hasError('email','email')">Correu electrònic invàlid.</div>
    </div>
    <div class="mb-3">
      <input
        [ngClass]="{'is-invalid': hasError('username','required') || hasError('username','minlength')}"
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        placeholder="Nom d'usuari"
        autocomplete="username"
      />
      <div class="text-danger" *ngIf="hasError('username','required')">Nom d'usuari obligatori.</div>
      <div class="text-danger" *ngIf="hasError('username','minlength')">Nom d'usuari invàlid, ha de tenir com a mínim 8 caràcters.</div>
    </div>
    <div class="mb-3">
      <input
        [ngClass]="{'is-invalid': hasError('password','required') || hasError('password','minlength')}"
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        placeholder="Contrasenya"
        autocomplete="new-password"
      />
      <div class="text-danger" *ngIf="hasError('password','required')">Contrasenya obligatòria.</div>
      <div class="text-danger" *ngIf="hasError('password','minlength')">Contrasenya invàlida, ha de tenir com a mínim 8 caràcters.</div>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>